@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

/* Dirty fix for markdown plugin */
.markdown>* {
    all: revert;
}